<div *ngIf = "progress">
  <p-progressBar mode="indeterminate"></p-progressBar>
</div>

<p-toast [baseZIndex]="15000"></p-toast>

<div class="box" >
  <div class="container">
    
    <div *ngIf = "commithistory?.length">
      <cdk-virtual-scroll-viewport class="gkz-viewport" [itemSize]="20" class="slide-in-bottom">

      <li *cdkVirtualFor="let i of commithistory;" class="slide-in-bottom" >
        <div class="d-flex bd-highlight">
          <div class="row">
            <div class="col-sm-2">
              <div class="p-2 flex-fill bd-highlight" style="font-size: 14px;"><img src="assets/images/org.png" style="margin-right: 5px;">{{i.nick_name}} </div>
            </div>
            <div class="col-sm-2">
              <div class="p-2 flex-fill bd-highlight" style="font-size: 14px;"><img src="assets/images/user.png" style="margin-right: 5px;">{{i.git_username}}</div>
            </div>
            <div class="col-sm-2">
              <div class="p-2 flex-fill bd-highlight" style="font-size: 14px;"><img src="assets/images/repo.png" style="margin-right: 5px;">{{i.repo_name}}</div>
            </div>
            <div class="col-sm-2">
              <div class="p-2 flex-fill bd-highlight" style="font-size: 14px;"><img src="assets/images/commit.png" style="margin-right: 5px;">{{ i.commit_hash }}</div>
            </div>
            <div class="col-sm-2">
              <div class="p-2 flex-fill bd-highlight" style="font-size: 14px;"><img src="assets/images/time.png" style="margin-right: 5px;">{{i.timestamp}}</div>
            </div>
            <div class="col-sm-2">
              <div class="p-2 flex-fill bd-highlight" style="font-size: 10px;"><img src="assets/images/mes.png" style="margin-right: 5px;">{{i.commit_msg}}</div>
            </div>
          </div>
          <div class="p-2 flex-fill bd-highlight" ><button type="button" class="btn btn-outline-primary waves-effect" style="font-size: 14px; word-break:initial;" (click) = "showPositionDialog(i)">Deploy</button></div>
        </div>
       
      </li>
      
    
      </cdk-virtual-scroll-viewport>
    </div>

    <div *ngIf = "!commithistory?.length">
      <p class="text-ocean">No Commit History Exists</p>
    </div>

    <p-dialog [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
[draggable]="false" [resizable]="false">
      <!-- <p-dropdown [options]="orgs" id="SfOrg" ngModel name="SfOrg" [(ngModel)]="selectedOrg" optionLabel="nick_name" [filter]="true" placeholder="Choose SalesForce Org" [style]="{'width':'25%'}" [style]="{'max-width':'100%','width': '100%'}">
        <ng-template pTemplate="selectedItem">
            <div class="orgs-item orgs-item-value"  *ngIf="selectedOrg">
              <div>{{selectedOrg.nick_name}} | {{selectedOrg.org_label}}</div>
            </div> 
        </ng-template>
        <ng-template let-org pTemplate="item" >
            <div class="orgs-item" >
                <div >{{org.value.nick_name}} | {{org.value.org_label}}</div>
            </div>
        </ng-template>
      </p-dropdown> -->

      <p-multiSelect [options]="orgs" [(ngModel)]="selectedOrgs" display="chip" defaultLabel="Choose Target SalesForce Org(s)" optionLabel="nick_name" [style]="{'max-width':'100%','width': '100%'}" [disabled] = "disableAll">
        <!-- <ng-template let-value pTemplate="selectedItems">
          <div class="orgs-item orgs-item-value"  *ngFor="let option of selectedOrgs">
            <div>{{option.nick_name}} | {{option.org_label}}</div>
          </div> 
        </ng-template> -->
        <ng-template let-org pTemplate="item" >
            <div class="orgs-item" >
                <div>{{org.value.nick_name}} | {{org.value.org_label}}</div>
            </div>
        </ng-template>
      </p-multiSelect>

      <ng-template pTemplate="footer">
        <div class="buttons1" (click)="onDeploy()">
          <button class="blob1-btn submit" [disabled] = "disableAll">
            Ok
            <span class="blob1-btn__inner ">
              <span class="blob1-btn__blobs1 ">
                <span class="blob1-btn__blob1 "></span>
                <span class="blob1-btn__blob1 "></span>
                <span class="blob1-btn__blob1 "></span>
                <span class="blob1-btn__blob1 "></span>
              </span>
            </span>
          </button>
              
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
          <defs>
            <filter id="goo">
              <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
              <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7" result="goo"></feColorMatrix>
              <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
            </filter>
          </defs>
        </svg>
        </div>
      </ng-template>
    </p-dialog>
   
  </div>
</div>
 
  