<div class="box" >
  <div class="container">
    <cdk-virtual-scroll-viewport class="gkz-viewport" [itemSize]="20">

      <li *cdkVirtualFor="let i of commithistory;" class="animate__animated animate__slideInRight" >
        <div class="d-flex bd-highlight">
          <div class="p-2 flex-fill bd-highlight" style="font-size: 10px;"><img src="assets/images/org.png" style="margin-right: 5px;">{{i.nick_name}} </div>
          <div class="p-2 flex-fill bd-highlight" style="font-size: 10px;"><img src="assets/images/profile.png" style="margin-right: 5px;">rohitsrikar{{i.git_username}}</div>
          <div class="p-2 flex-fill bd-highlight" style="font-size: 10px;"><img src="assets/images/repo.png" style="margin-right: 5px;">AutoBuds3{{i.repo_name}}</div>
          <div class="p-2 flex-fill bd-highlight" style="font-size: 10px;"><img src="assets/images/branch.png" style="margin-right: 5px;">Master</div>
          <div class="p-2 flex-fill bd-highlight" style="font-size: 10px;"><img src="assets/images/commit.png" style="margin-right: 5px;">{{ i.commit_hash }}</div>
          <div class="p-2 flex-fill bd-highlight" style="font-size: 10px;"><img src="assets/images/time.png" style="margin-right: 5px;">{{i.timestamp}}</div>
          <div class="p-2 flex-fill bd-highlight" style="font-size: 10px;"><img src="assets/images/mes.png" style="margin-right: 5px;">Dummy{{i.commit_msg}}</div> 
          

          <div class="p-2 flex-fill bd-highlight" ><button type="button" class="btn btn-outline-primary waves-effect" style="font-size: 8px; " (click) = "onDeploy(i)">Deploy</button></div>
        </div>
      </li>
    
    </cdk-virtual-scroll-viewport>
  </div>
</div>
 
  