<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink = "/home" href="#"><span class="text-navy">Auto</span><span class="text-ocean font-weight-bold">Buds</span><span class="text-orange font-weight-bold">3</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav nav ml-auto nav-pills nav-fill">
        <li class="nav-item px-3">
          <a class="nav-link " data-toggle="pill" routerLink = "/home" routerLinkActive="selected" >Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link" data-toggle="pill" routerLink = "/commit" routerLinkActive="selected" href="#Commit" >Commit</a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link" data-toggle="pill" routerLink = "/deploy" routerLinkActive="selected" href="#Deploy" >Deploy</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" data-toggle="pill" routerLink = "/settings" routerLinkActive="register" href="#Register">Settings</a>
        </li>

        <li class="nav-item px-3" (click)="logout()">
          <a class="nav-link" data-toggle="pill" routerLinkActive="register" href="#Logout">Logout</a>
        </li>
      </ul>
    </div>
  </nav>

  