<div class="bg-img">

<div class="container">
    <div class="row vh-100">
        <div class="col my-auto">
            <div>
                <div class="row">
                    <h1 class="big-404 mx-auto">404</h1>
                </div>

                <div class="row" >
                    <div class="mx-auto">
                        <img src="assets/404.gif" alt="page-not-found-animation" />
                    </div>
                </div>

                <div class="row">
                    <h1 class="bold text-moon mx-auto">Redirecting you to homepage ...</h1>
                </div>
            </div>
        </div>
    </div>
</div>

</div>