.big-404 {
    font-size: 5em;
    font-weight: 800;
    color: #ff9d4c;
}

.text-moon {
    // color: #e1e5ed;
    color: #6e6e6e;
}


.bg-img{
    min-height: 100vh;
    width: 100%;
    background-color: #ffff;
   
    }