<div class="container">
<div class = "user">
    <p-card>
        <p-tabView>
            <p-tabPanel header="Sign Up">
                <br>
                <span class="p-float-label">
                    <input id="float-input" type="text" pInputText [(ngModel)]="firstName" [style]="{'width':'100%'}"> 
                    <label for="float-input">FirstName</label>
                </span>
                <br>
                <span class="p-float-label">
                    <input id="float-input" type="text" pInputText [(ngModel)]="lastName" [style]="{'width':'100%'}"> 
                    <label for="float-input">Last Name</label>
                </span>
                <br>
                <span class="p-float-label">
                    <input id="float-input" type="email" pInputText [(ngModel)]="email" [style]="{'width':'100%'}" > 
                    <label for="float-input">Email</label>
                </span>
                <br>
                <span class="p-float-label">
                    <input id="float-input" type="password" pInputText [(ngModel)]="password" [style]="{'width':'100%'}"> 
                    <label for="float-input">Password</label>
                </span>
                <br>
                <p-button label="SignUp" (click) = "signup()" ></p-button>
            </p-tabPanel>
        
            <p-tabPanel header="Login">
                <div class="container">
                    <div class="row m-3">
                        <div class="col p-0">
                            <span class="p-float-label">
                                <input id="float-input" type="text" pInputText name="Email"  [(ngModel)] = "email" (blur) = "validateUser()" [style] = "{'width': '100%'}"> 
                                <label for="float-input">Email</label>
                            </span>
                        </div>
                    </div>
                    <div class="row m-3 mt-4">
                        <div class="col p-0">
                            <span class="p-float-label">
                                <input id="float-input" type="password" pInputText name="password" [(ngModel)] = "password" [style] = "{'width': '100%'}"> 
                                <label for="float-input">Password</label>
                            </span>
                        </div>
                    </div>    
                    <div class="row m-3">
                        <p-button label="Login" (click) = "login()"></p-button>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>
    </p-card>
</div>
</div>