@import "~bootstrap/dist/css/bootstrap.css";
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/saga-blue/theme.css';
@import '~primeng/resources/primeng.min.css';

.text-orange{
    color:#ff9f00;
}

.text-navy{
    color: #141633;
}

.text-ocean{
    color: #00A8EB;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
