<div class="container">
	<div class="row ch">
		<div class="text-typing">
			<h1 class="mx-auto my-auto text-ocean">Product Overview...</h1>
		  </div>
	</div>
</div>
<h1 class="animate__animated animate__fadeInRight ">An animated element</h1>

	<!-- <a href="https://login.salesforce.com/services/oauth2/authorize?
client_id=3MVG9n_HvETGhr3C21YA3Wd8zCW4pR2Ir9LH5wJcDYepa5rbaz8dUlP.TUncSKKDzBNIPfy98l.e4LWDF.3St&
redirect_uri=http://localhost:8080/new&
response_type=code">
		Authorize Salesforce Org</a> -->