.ch {
    min-height: 45vh;
}

.text-ocean {
    color: #00a8eb;
    font-size: 4em;
    font-weight: 200;
}

.text-typing {
    padding:0px;
    font-size:12px;
    font-family:monospace;
    border-radius:50px;
  }
  .text-typing h1 {
    margin-top:15px;
    padding: 30px;
    white-space:nowrap;
    overflow:hidden;
    animation:typing 4s steps(22,end) forwards;
  }
  @keyframes typing {
    0% { width:0% }
    100% { width:100% }
  }
  @keyframes blink {
    0%,100% {
      border-right:2px solid transparent;
    }
    50% {
      border-right:2px solid #222;
    }
  }