<!-- <div  style="margin-top: 1rem; margin-left:1rem; width: 128px; height: 128px; cursor: pointer" [@themeState]= "state" (click)="setTheme()">
	<div *ngIf = "storedTheme == 'theme-light'">
		<img src="assets/images/sun1.png">
	</div>
	<div *ngIf = "storedTheme == 'theme-dark'">
		<img src="assets/images/night1.png">
	</div>
</div> -->
<div class="container">
	
	<div class="row ch">
			<!-- <div class="content {{storedTheme}}">
				<div class="content-box">
					<div class="theme-switcher-wrap">		
						<label
						[ngClass]="( storedTheme === 'theme-dark')?'theme-switcher
						active':'theme-switcher'"
						class="theme-switcher" (click)="setTheme()">
							<div class="switch-path">
								<div class="switch-handle"></div>
							</div>
						</label>
					</div>
				</div>
			</div> -->
		<div class="text-typing">
			<h1 class="mx-auto my-auto text-ocean"></h1>
		</div>
	
	</div>
