<div class= "container">
  <label for="SfOrg">SF Org Select</label>
  <br>
  <p-dropdown (onChange)="onChangeSfOrg(selectedOrg)" [options]="org" id="SfOrg" ngModel name="SfOrg" [(ngModel)]="selectedOrg" optionLabel="org_id" [filter]="true" placeholder="Select a Sf Org">
    <ng-template pTemplate="selectedItem">
        <div class="org-item org-item-value"  *ngIf="selectedOrg">
          <div>{{selectedOrg.nick_name}}</div>
        </div>
    </ng-template>
    <ng-template let-og pTemplate="item" >
        <div class="org-item" >
            <div >{{og.value.nick_name}} {{og.value.org_label}}</div>
        </div>
    </ng-template>
  </p-dropdown>
  <br>
  <label for="GitAccount">Git Account Select</label>
  <br>
  <p-dropdown (onChange)="onChangeGitacc(selectedAcc)" [options]="gitacc" id="Gitacc" ngModel name="Gitacc" [(ngModel)]="selectedAcc" optionLabel="username" [filter]="true" placeholder="Select a GitId">
  <ng-template pTemplate="selectedItem">
    <div class="gitacc-item gitacc-item-value"  *ngIf="selectedAcc">
      <div>{{selectedAcc.username}}</div>
    </div>
  </ng-template>
  <ng-template let-og pTemplate="item" >
    <div class="gitacc-item" >
        <div >{{og.value.username}}</div>
    </div>
  </ng-template>
  </p-dropdown>
  <br>
  <label for="GitRepo">Git Repo Select</label>
  <br>
  <p-dropdown (onChange)="onChangeRepo(selectedRepo)" [options]="repo" id="GitRepo" ngModel name="RepoId" [(ngModel)]="selectedRepo" optionLabel="repoName" [filter]="true" placeholder="Select a Repo">
  <ng-template pTemplate="selectedItem">
  <div class="repo-item repo-item-value"   *ngIf="selectedRepo">
    <div>{{selectedRepo.repoName}}</div>
  </div>
  </ng-template>
  <ng-template let-re1 pTemplate="item"  >
  <div class="repo-item" >
      <div >{{re1.value.repoName}}</div>
  </div>
  </ng-template>
  </p-dropdown>
        <div class="buttons">
            <button class="blob-btn">
              Perform Commit
              <span class="blob-btn__inner">
                <span class="blob-btn__blobs">
                  <span class="blob-btn__blob"></span>
                  <span class="blob-btn__blob"></span>
                  <span class="blob-btn__blob"></span>
                  <span class="blob-btn__blob"></span>
                </span>
              </span>
            </button>
            <br/>
          
          <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
            <defs>
              <filter id="goo">
                <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
                <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7" result="goo"></feColorMatrix>
                <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
              </filter>
            </defs>
          </svg>
        </div>

</div>
