.container{
    margin-top: 9vh;
}

.p-listbox{
    .p-listbox-header {
        padding: 0.5rem 1rem;
        border-bottom: 0 none;
        color: #495057;
        background: blue;
        margin: 0;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }
}
label{
    margin: 0px;
    padding-top:15px;
    // padding-top:50px;
}
.listHeader{
    padding-bottom:9px;
}