<div class = "container">
	<div class ="row">
		<div class="col">
			
			<div class="listHeader">
				<label style>SalesForce Org List</label>
				<a class="btn btn-primary" [style]= "{'float':'right'}" href="https://login.salesforce.com/services/oauth2/authorize?client_id=3MVG9n_HvETGhr3C21YA3Wd8zCW4pR2Ir9LH5wJcDYepa5rbaz8dUlP.TUncSKKDzBNIPfy98l.e4LWDF.3St&redirect_uri=http://localhost:8080/org/new-org&response_type=code&prompt=login&display=popup" role="button">+</a>
			</div>
			<p-listbox id = "SfOrg"[options]="orgs" ngModel name="orgs" [(ngModel)]="selectedOrg" [metaKeySelection]="false"
				[filter]="true" optionLabel="nick_name" [listStyle]="{'max-height':'250px'}" [style]="{'width':'100%'}">
				<ng-template let-org pTemplate="item">
					<div class="org-item">
						<div>{{org.value.nick_name}}</div>
					</div>
				</ng-template>
			</p-listbox>
		</div>
		<div class="col">
			<div class="listHeader">
				<label for="GitAcc">Git Account List</label>
				<a class="btn btn-primary" [style]= "{'float':'right'}" href="https://github.com/login/oauth/authorize?client_id=6754f8f63720d9edbe8b&redirect_uri=http://localhost:8080/git/new-repo&scope=repo user" role="button">+</a>
			</div>
			<p-listbox id = "GitAcc" [options]="gitaccs" ngModel name="gitaccs" [(ngModel)]="selectedAcc" [metaKeySelection]="false"
				[filter]="true" optionLabel="username" [listStyle]="{'max-height':'250px'}" [style]="{'max-width':'100%'}">
				<ng-template let-gitacc pTemplate="item">
					<div class="gitaccs-item">
						<div>{{gitacc.value.username}}</div>
					</div>
				</ng-template>
			</p-listbox>
		</div>
	</div>
</div>



