.ch {
    min-height: 35vh;
    margin-top: 10vh;
}

.text-orange {
    color: #ff9d4c;
    font-size: 2em;
    font-weight: 500;
}

.text-ocean {
    color: #00a8eb;
    font-size: 2em;
    line-height: 2em;
    font-weight: 200;
}